<div fxLayoutAlign="space-between">
  <div
    fxLayoutAlign="center"
    fxFlex
    *ngFor="let s of service.configurations$ | async; let i = index"
    [class.is-active]="s === (service.activeConfig$ | async)"
  >
    <button
      [disabled]="isNotInActivatedRouteIndices(i) | async"
      (click)="service.setActiveConfiguration(i)"
    >
      {{ s.type }}
    </button>
  </div>
</div>
<div fxLayoutAlign="space-between">
  <button (click)="previous()">Zurück</button>
  <h1>{{ (service.activeConfig$ | async).header }}</h1>
  <button (click)="next()">Weiter</button>
</div>
<app-configuration-view-switcher
  [configurationType]="(service.activeConfig$ | async).type"
></app-configuration-view-switcher>
